body{
	margin:0;
	font-family: "Trebuchet MS", Helvetica, sans-serif,Arial;
}
* {box-sizing: border-box}




@media (max-width:1400px){

  #img1{
    width: 100%;
    height: auto;
  }
}

